<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Detail of' + ${car.spz}"></title>
</head>
<body>
    <a class="btn" th:href="@{/edit/{index}(index=${id})}">EDIT</a>
    <a class="btn" th:href="@{/delete/{index}(index=${id})}">DELETE</a>
    <div th:object="${car}">
        <div th:text="*{spz}"></div>
        <div th:text="*{color}"></div>
        <div th:text="*{tankVolume}"></div>
        <div th:text="*{numberOfSeats}"></div>
    </div>

</body>
</html>